.menu-area {
    font-size: 13px;
}

aside.menu-area {
    box-shadow: 
        2px 0 10px 0  rgba(20, 20, 20, .2),
        2px 0 15px 0  rgba(20, 20, 20, .2);
}

.menu a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 300;
    padding: 15px;
}

.menu a:hover {
    background: linear-gradient(135deg, white 0%, #555555 100%);
}